.vs/
out/
build/
build-*/
dist/
compile_commands.json
__pycache__/

*.obj
*.o
*.lo
*.slo
*.pch
*.pdb
*.idb
*.ilk
*.iobj
*.ipdb
*.lib
!third_party/live2d/Core/lib/**/*.lib
*.exp
*.dll
*.exe
*.manifest
*.res
*.aps
*.tlog
*.lastbuildstate
*.recipe

*.suo
*.user
*.userosscache
*.sln.docstates

*.log
*.tmp
*.temp
*.cache
crash_dumps/

!app.png
